<div id="modal-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	 <div class="modal-dialog" role="document">
  		
  		<div class="modal-content">
  			
  			<div class="modal-body">
  				<p id="modal-content">
    			</p>			
  			</div>    	    
  		</div>
	</div>
</div>